<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"
		  type='text/css'>
	<link rel="stylesheet"
		  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,0"/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


	<title>Online Banking</title>
	<style>
        .account {
            min-width: 252px;
			max-width: 252px;
            min-height: 196px;
			max-height: 196px;
            margin-right: 12px;
        }

        #card-container {
            width: 100%;
            height: 100%;
            overflow-x: scroll;
            overflow-y: scroll;
        }

        .main-body {
            padding: 15px;
        }

        .card {
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
        }

        card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid rgba(0,0,0,.125);
            border-radius: .25rem;
        }

        card-body {
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1rem;
        }

        .mb-3, .my-3 {
            margin-bottom: 1rem!important;
        }

        .bg-gray-300 {
            background-color: #e2e8f0;
        }
        .h-100 {
            height: 100%!important;
        }
        .shadow-none {
            box-shadow: none!important;
        }

        .card-container > .btn.active.focus,
        .btn.active:focus,
        .btn.focus,
        .btn:active.focus,
        .btn:active:focus,
        .btn:focus {
            outline: 0;
            outline-color: transparent;
            outline-width: 0;
            outline-style: none;
            box-shadow: 0 0 0 0 rgba(0,123,255,0);
        }
	</style>
</head>
<body class="bg-gray-300">
<div>
	<!--navbar-->
	<nav class="p-3 navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">
			<span class="m-1 material-symbols-outlined">savings</span>Online Banking</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link border-bottom border-2 border-success">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/payments">Payments</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">History</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="p-3 m-3 shadow bg-white rounded">
		<div>
			<div class="input-group rounded">

				<!-- clickable profile thumbnail -->
				<button type="button" class="btn btn-light" onclick="fillProfileModal()" data-bs-toggle="modal" data-bs-target="#profileModal">
					<img class="rounded-circle z-depth-2" alt="100x100"
						 src="https://thumbs.dreamstime.com/b/cute-cat-portrait-square-photo-beautiful-white-closeup-105311158.jpg"
						 data-holder-rendered="true" style="max-height: 48px; max-width: 48px">
				</button>

				<!-- search bar -->
				<input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
					   aria-describedby="search-addon"/>
				<span class="input-group-text border-0" id="search-addon">
                <i class="fa fa-search"></i>
                </span>
			</div>
		</div>

		<!-- Profile modal -->
		<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="profileModalLabel">User Profile</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">


						<div class="container">
							<div class="main-body">

								<!--
								<nav aria-label="breadcrumb" class="main-breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="index.html">Home</a></li>
										<li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
										<li class="breadcrumb-item active" aria-current="page">User Profile</li>
									</ol>
								</nav>
								 -->

								<div class="row gutters-sm">
									<div class="col-md-4 mb-3">
										<div class="card">
											<div class="card-body">
												<div class="d-flex flex-column align-items-center text-center">
													<img src="https://thumbs.dreamstime.com/b/cute-cat-portrait-square-photo-beautiful-white-closeup-105311158.jpg" alt="Admin" class="rounded-circle" width="150">
													<div class="mt-3">
														<h4 id="profileFirstLastName"><!--<span th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"/>--></h4>
														<p class="text-secondary mb-1"></p>
														<p class="text-muted font-size-sm"></p>

														<a id="profileAdminPanelButton" href="/adm" class="btn btn-info">Admin panel</a>
														<a href="/logout" class="btn btn-outline-primary">Logout</a>

													</div>
												</div>
											</div>
										</div>

									</div>
									<div class="col-md-8">
										<div class="card mb-3">
											<div class="card-body">
												<div class="row">
													<div class="col-sm-3">
														<h6 class="mb-0">Email</h6>
													</div>
													<div class="col-sm-9 text-secondary">
														<p id="profileEmail"></p>
														<!--<span th:text="${user.getEmail()}"/>-->
													</div>
												</div>
												<hr>
												<div class="row">
													<div class="col-sm-3">
														<h6 class="mb-0">Phone number</h6>
													</div>
													<div class="col-sm-9 text-secondary">
														<p id="profilePhoneNumber"></p>
														<!--<span th:text="${user.getPhoneNumber()}"/>-->
													</div>
												</div>
												<hr>
												<div class="row">
													<div class="col-sm-12">
														<a class="btn btn-info" onclick="editProfileData()">Edit</a>
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>


					</div>
					<!--
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>-->
				</div>
			</div>
		</div>


		<!-- Account edit modal -->
		<div class="modal fade" id="accountEditModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="accountEditModalTitle">Account</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="container">
							<div class="main-body">
								<div class="row gutters-sm">
									<div class="col-md-8">
										<form id="accountEditForm" name='accountEditForm' method='POST'> <!--action="/accounts/edit"-->
											<div class="row">
												<div class="row">
													<h6 class="mb-0">Account number</h6>
													<p id="accountEditNumber">0000 0000 0000 0000</p>
												</div>
											</div>
											<hr>
											<div class="row">
												<h6 class="mb-0">Account name</h6>
												<input name="name" id="accountEditName" class="form-control form-control-lg"
													   placeholder="Enter name" />
											</div>
											<hr>
											<div class="row">
												<h6 class="mb-0">Currency</h6>
												<input name="currency" id="accountEditCurrency" class="form-control form-control-lg"
													   placeholder="Select currency" />
												<!--
												<div class="col-sm-9 text-secondary">
													<span id="accountEditCurrency"></span>
												</div>-->
											</div>

											<div class="row">
												<div class="col-sm-12">
													<a class="btn btn-info" onclick="saveAccount()">Save</a>
													<!--<input class="btn btn-lg btn-info" style="padding-left: 2.5rem; padding-right: 2.5rem;" onclick="saveAccountData()" name="submit" type="submit" value="Save">-->
												</div>
												<div class="col-sm-12">
													<a class="btn btn-outline-danger" onclick="deleteAccount()">Delete</a>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="mt-4 p-3 bg-white rounded">
			<!--<h2>Hello, <span th:text="${user.getFirstName()}"></span></h2>-->
			<h4>Accounts</h4>

			<!-- accounts card deck -->
			<div id="card-container" style="max-height: 250px">
				<div class="container-fluid py-2">
					<div class="d-flex flex-row flex-nowrap">



						<div id="accountsCardDeck">
							<!--<div class="card account card-body border-2 shadow rounded"></div>-->
						</div>

						<button type="button" class="btn" onclick="openAccountEditModal()">
							<div class="card account card-body border-2 shadow rounded">
								<div class="d-flex justify-content-center">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
										<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
									</svg>
								</div>
							</div>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/user.js}"></script>
<script type="text/javascript" th:src="@{/js/account.js}"></script>
<script type="text/javascript" th:src="@{/js/utils.js}"></script>
</body>
</html>