<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<h1>Login</h1>

<!--
<div th:if="${error == 'true'}">
    <h2>Error!</h2>
</div>-->
<div class="alert" th:if="${errorMessage}" th:text="${errorMessage}"></div>
<div th:if="${registered == 'true'}">
    <h2>You registered successfully. You can enter your credentials now:</h2>
</div>
<div th:if="${logout == 'true'}">
    <h2>Logged out successfully</h2>
</div>
<form name='f' action="login" method='POST'>
    <table>
        <tr>
            <td>User:</td>
            <td><input type='text' name='username' value=''></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password' /></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>
<a href="/registration">Register</a>
</body>
</html>